@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600&display=swap');

body {
  font-family: 'Vazirmatn', sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #e8edf3);
  color: #333;
  direction: rtl;
  text-align: right;
}

h2 {
  color: #0d47a1;
  font-weight: 600;
  margin-bottom: 40px;
}

.survey-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
}

.survey-card:hover {
  transform: translateY(-8px) scale(1.02);
  border-color: #0d6efd;
  background-color: #f8fbff;
}

.survey-card h5 {
  margin-bottom: 18px;
  color: #1b1f3b;
  font-size: 1.1rem;
  font-weight: 600;
}

.chart {
  width: 100%;
  max-width: 130px;
  max-height: 130px;
}

.fade-out {
  animation: fadeOut 0.4s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0.2;
    transform: scale(0.95);
  }
}


.logout-btn {
  background-color: #b1b4c7ee;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #dddde4b4;
}


    button {
      width: 30%;
      padding: 10px;
      background: #a4b2bd;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display:block;
      margin: 20px auto; 
        }

    button:hover {
      background: #ffffff;
    }

    p{
          font-size: 12px;

    }